
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Disposicion Paneles de contenido */
.card {
  background-color: #1e59d5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 800px;
}

/* Panel de gráfico comparativo de años */
.card-chart-years {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
  width: 600px;
}

/* Texto Panel de gráficos comparativo de años */
.card-chart-years h2 {
  color: #445964;
  font-family: 'Lato' !important;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 10px;
}

/* Panel de gráfico diario */
.card-chart-daily {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  width: 500px;
}

/* Texto Panel de gráfico diario */
.card-chart-daily h2 {
  color: #445964;
  font-family: 'Lato' !important;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 10px;
  width: 800px;
}

/* Contenedor de encabezado */
.container-header {
  color: #1e59d5;
  background-color: #ffffff;
  padding: 20px; /* Añade un espacio entre el texto y el borde */
  border-radius: 15px;
}

/* Texto Contenedor de encabezado */
.container-header h3 {
  border-radius: 50px;
  border: 3px solid #2d76fc;
  color: #2d76fc !important;
  display: inline-block;
  font-family: 'Lato' !important;
  font-size: 18px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 2px 10px 9px 10px;
  padding: 5px 10px 5px 10px;
  width: 30%;
}

/* Texto Negrita Contenedor de encabezado */
.container-header h3 strong {
  color: #2d76fc;
  font-family: 'Lato' !important;
  font-weight: 900;
  font-style: normal;
}

/* Contenido encabezado */
.content-header {
  display: flex;
  justify-content: space-around;
}

/* Titulo de contenido encabezado */
.content-header-title {
  color: #445964;
  flex: 4; 
  display: flex;
  align-items: left;
  font-family: 'Lato', sans-serif !important;
  font-style: normal;
}

/* Contenido imagen en encabezado */
.content-image {
  flex: 1;
  align-self: center; 
  max-width: 80px;
}

/* Contenedor Calendario */
.container-calendar {
  color: #ffffff;
  border-top: 1px solid #ebebeb;
  padding: 5px 0 2px 0;
  margin-top: 30px;
}

/* Texto contenedor calendario */
.container-calendar h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

/* Separador de contenido textual calendario */
.separador-titulos {
  background: #2ecc71;
  height: 3px;
  margin: 0px auto 0;
  margin-bottom: 20px;
  text-align: center;
  width: 20%;
  border-radius: 5px;
}

/* Imagen encabezado */
.img-header {
  width: 50%;
}

/* Contenedor gráfica comparativa años */
.container-chart-years {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor gráfica diaria */
.container-chart-daily {
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Componente tabla comparativa años */
.victory-chart-years {
  margin-bottom: 20px;
}

/* Componente tabla diaria */
.victory-chart-daily {
  margin-bottom: 20px;
}

/* Transiciones para contenedor de gráficas */
.transition-container {
  transition: opacity 0.6s ease;
  opacity: 0;
}

.transition-container.show {
  transition: opacity 0.6s ease;
  opacity: 1;
}

.card {
  padding: 2em;
}
